
.header { 
    &-container{ 
        width: 1400px ;
        .right{ 
            .text{ 
                color: rgb(180 180 190);
                transition: 0.3s;
                &:hover{ 
                    cursor: pointer;
                    
                }

                &.active{ 
                color:   #48484e !important;
                }
                
            }
            .line{ 
                width: 100%;
                height:3px ;
                background-color:#48484e !important;
            }
        }
    }
}
.images{ 
    &-container{ 
        justify-content: center;
        align-items: center;

        width: 1400px;
        height: 600px;
        .row{ 
            padding: 0;
            margin: 0;
        }
        .left {
            .img2{ 
                &:hover { 
                    cursor: pointer;
                }
            }
            .img1{ 
                border-radius: 15px 0 0 0 ;
            }
            .image{

                .img{ 
 
                    filter:brightness(50%);
                    border-radius: 0 0 0 15px;
                }
                .rel{ 
                        top: 43%;
                       left: 25% !important ;
                    
                }
            }
            
        }
    }
}
body{ 

}
.body{ 
    &-container{ 
        width: 1400px;
        .left{ 
            .price { 
                .under{ 
                    text-decoration:   red;

                }
            }
    .history { 
        .open,.close{ 
            height: 100px;
            color:rgb(180 180 190);
            &:hover{ 
                cursor: pointer;
            }
        }
        .history-calender{
            
            width: 750px;

            box-shadow: 0px 0px 1px 1px;
            .travel{ 
                font-size: 13px;
            }
            .clos,.ope{
                width: 370px !important;
                color: rgb(180 180 190);
            }
            .ordi{ 
                .days { 
                    font-size: 12px;
                    color: rgb(180 180 190);
                }
                .day{ 
                  
                    .items{
                        height: 400px; 
                        .item{ 
                            &:hover{ 
                                cursor: pointer;
                            }
                            
                            width: 42px !important;
                            height: 50px !important;
    
                           &.am{ 
                            color: red;
                           }
                           &.ab{ 
                            color:rgb(180 180 190) ;
                           }
                        }

                    }
                 
                    
                }
            }
            .farvardin{ 
                .days { 
                    font-size: 12px;
                    color: rgb(180 180 190);
                }
                .day{ 
               
                    .items{
                        height: 400px; 
                        .item{ 
                            &:hover{ 
                                cursor: pointer;
                            }
                            width: 42px !important;
                            height: 50px !important;
    
                           &.am{ 
                            color: red;
                           }
                           &.ab{ 
                            color:rgb(180 180 190) ;
                           }
                        }

                    }
                 
                    
                }
            }
            .khordad{
                .days { 
                    font-size: 12px;
                    color: rgb(180 180 190);
                }
                .day{ 
               
                    .items{
                        height: 400px; 
                        .item{ 
                            &:hover{ 
                                cursor: pointer;
                            }
                            width: 42px !important;
                            height: 50px !important;
    
                           &.am{ 
                            color: red;
                           }
                           &.ab{ 
                            color:rgb(180 180 190) ;
                           }
                        }

                    }
                 
                    
                }
            }
            .line{ 
                height: 1px ;
                color: rgb(180 180 190);
            }
            .accept{
                &-container{ 
                    .left{ 
                        .but{ 
                            width: 100px;
                            height: 50px;
                            background-color: rgb(72 72 78);
                            font-size: 14px;
                        }
                    }
                    .right{ 
                        .guid{ 
                            font-size: 14px;
                            color: rgb(72 72 78);
                            &:hover{  
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }  
    .number{ 
        &-container{ 
            color:rgb(180 180 190);

            &:hover{ 
                
                cursor: pointer;
            }
        }
    }     
    .text{ 
        color:rgb(180 180 190);

    } 
    .line { 
        height: 1px;
        width: 100%;
        background-color: rgb(180 180 190);
    }  
    .check{ 
        .checkBox{ 
            &:hover{ 
                cursor: pointer;
            }
        }
    }
    .choice{ 
        &-container{ 
            background-color: rgb(240 62 88);
            transition: 0.2s;
            &:hover{ 
                cursor: pointer;
            background-color: rgb(170, 22, 45);

            }
        }
    } 
    .message{ 
        color:rgb(180 180 190);

        .message-text{ 
          
            font-size: 14px !important;
        }
    }
        }
        .right{
            .titleHome{
                .detail{ 
                    .right{ 
                        .img{ 
                            
                            width: 70px;
                            height: 70px;
                        }
                    }
                    .left{
                        .textDetail{ 
                            font-size: 12px;
                        }
                    }
                }
                .point{ 
            
                    .star{ 
                        .gold{ 
            
                            color: gold !important;
                        }
                        .text{ 
                            color: rgb(180 180 190);
                        }
                    }
                    .text{ 
                        font-size: 12px;
                        color: rgb(180 180 190);
                    }
                    .succes{ 
                        .circle{ 
                            color: green;
                        }
                    }
                  
                }
                .line{ 
                    height: 1px ;
                    background-color: rgb(180 180 190) ;
                    }
                    
            }
            .about{ 
                &-container{ 
                    .info { 
                        font-size: 14px ;
                        color: rgb(180 180 190);
                    }
                }
            }
          
        }
        .line{ 
            height: 1px ;
            background-color: #b4b4be ;
            }
        .pool{ 
            &-container{
                .text{ 
                    font-size: 12px;
                }
                .squar{
                    border: 1px solid #b4b4be ;
                    color: #b4b4be;
                    .text-down{ 
                        font-size: 13px;
                    }
                }
            }
        }
        .sleep{
            &-container{ 
                .pack{ 
                    .squar{
                        border: 1px solid #b4b4be ;
                        color: #b4b4be;
                        .text-down{ 
                            font-size: 12px;
                        }
                        .sys{ 
                            font-size: 12px;
                        }
                    
                    }
                    .title{ 
                        font-size: 12px !important;
                    }
                }
             
            } 
         
        }
        .Facilities{
            &-container{ 
                .img{ 
                    width: 40px;

                }
                .view{ 
                    .hover{ 
                        &:hover{ 
                            cursor: pointer;
                        }
                    }
                }
            }
        }
      
        .allView{
      
                overflow-y: auto;
                z-index: 1050;
                animation: slideUp 0.4s ease forwards;
             
              .allView .fixed-header {
                position: sticky;
                top: 0;
                z-index: 10;
                background-color: white;
                padding: 1rem;
                border-bottom: 1px solid #ddd;
              } 
            box-shadow: 0px 0px 5px 5px;
            top: 0%;
            right: 30%;
  

    
            
          
            .home{ 
                .tras{ 
                    font-size: 12px;
                    color: #b4b4be;
                }
               }
         }
         .rent{ 
            &-container{ 
                .text{ 
                    font-size: 14px;
                    color: rgb(100 100 110);
                    line-height: 28px;
                }
                .hover{ 
                    &:hover{
                        cursor: pointer;
                    }
                }
              
            }
         }
         .location{ 
            &-container{ 
                .moj{ 
                    // border: 1px solid red;
                    color: rgb(100 100 110);
                    font-size: 18px;
                    letter-spacing: -.2px;
                    line-height: 28px;
                    font-weight: 400;
                    font-family: sans-serif
                }
                .map-section {
                    padding: 1rem;
                  
                    .note {
                      font-size: 0.9rem;
                      color: #555;
                    }
                  
                    .map-container-wrapper {
                      margin-top: 1rem;
                    }
                  
                    .section-title {
                      font-size: 1.3rem;
                      font-weight: bold;
                      margin-bottom: 0.5rem;
                    }
                  
                    .map-description .caption {
                      font-size: 0.85rem;
                      color: #666;
                    }
                  
                    .map-container {
                      width: 100%;
                      aspect-ratio: 1.33 / 1;
                      border-radius: 12px;
                      overflow: hidden;
                      position: relative;
                      z-index: 1;
                    }
                  }
            }
         }
         .center{ 
            &-container{ 
                .text{
                    font-size: 13px;
                }
            }
         }
         .taghvim{
            &-container{ 
                .history-calender{

                    width:100%;
        
                    box-shadow: 0px 0px 1px 1px;
                    .travel{ 
                        font-size: 13px;
                    }
                   
                    .ordi,.khordad,.farvardin{ 
                        .mark{
                            &:hover{ 
                                cursor: pointer;
                            }
                        }
                        .days { 
                            font-size: 12px;
                            color: rgb(180 180 190);
                        }
                        .day{ 
                          
                            .items{
                                height: 400px; 
                                .item{ 
                                    &:hover{ 
                                        cursor: pointer;
                                    }
                                    
                                    width: 52px !important;
                                    height: 50px !important;
            
                                   &.am{ 
                                    color: red;
                                   }
                                   &.ab{ 
                                    color:rgb(180 180 190) ;
                                   }
                                }
        
                            }
                         
                            
                        }
                    }
                
                    .line{ 
                        height: 1px ;
                        color: rgb(180 180 190);
                    }
                   
                }
                .reserve{ 

                    .text{ 
                        font-size: 13px ;
                        color: rgb(180 180 190);
                    }
                }
                .accept{
                    &-container{ 
                        .left{ 
                            .but{ 
                                border: none;
                                box-shadow: none;
                                width: 150px;
                                height: 50px;
                                background-color: rgb(206, 203, 206);
                                font-size: 14px;
                            }
                        }
                        .right{ 
                            .guid{ 
                                font-size: 14px;
                                color: rgb(72 72 78);
                                &:hover{  
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
         }
         .time{ 
            &-container{ 
                .sys{ 
                    font-size: 14px ;
                    color: #b4b4be;

                }
                .squar{
                    border: 1px solid #b4b4be ;
                 
                    color: #b4b4be;
                    .close{ 
                        width: 150px;

                    }
                    .text-down{ 
                        font-size: 13px;
                    }
                }
                .fix{ 
                    .text{ 
                        color: #8b8b8e;
                        font-size: 13px;
                    }
                }
                .miz { 
                    .text{ 
                        font-size: 13px;
                        color: #8b8b8e;

                    }
                }
                .cansel{ 
                    .dash{
                        color: #aeaeb1;
                        height: 3px;
             
                    }
                    .green{ 
                        .text{ 
                            color: green;
                        }
                        .price { 
                            color: #8b8b8e;
                            font-size: 13px;
                        }
                    }
                    .yellow{ 
                        color: rgb(251, 177, 24);
                        .price { 
                            color: #8b8b8e;
                            font-size: 13px;
                        }
                    }
                    .red{  
                        color: rgb(240, 62, 88);
                        .price { 
                            color: #8b8b8e;
                            font-size: 13px;
                        }
                    }
                }
            }
         }
         .bail{ 
            .text{ 
                color: #8b8b8e;
                font-size: 13px;
            }
            .did{ 
                &:hover{ 
                    cursor: pointer;
                }
            }
            
        .allView{
            height: 700px !important;
            width: 680px !important;
            background-color: transparent !important;
            overflow-y: auto;
            z-index: 1050;
            animation: slideUp 0.4s ease forwards;
         
          .allView .fixed-header {
            position: sticky;
            top:0;
            z-index: 10;
            // background-color: white;
            padding: 1rem;
            border-bottom: 1px solid #ddd;
          } 
        box-shadow: 0px 0px 5px 5px;
        top: 0%;
        right: 28%;
          .moj{ 
            font-size: 13px;
            color: #8b8b8e;
            line-height: 25px;
          }


        
      
        .home{ 
            .tras{ 
                font-size: 12px;
                color: #b4b4be;
            }
           }
     }
         }
         .comment{ 
            &-container{ 
                .point{
                    .header{ 
                        .star{ 
                            color: gold;
                        }
                    }
                 }
                 .contain{
                    .did {
                        &:hover{ 
                            cursor: pointer;
                        }
                    } 
                    .box{ 
                        // border: 1px solid red;
                        .name{ 
                            .person{ 
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
              
                                background-color: rgb(223, 223, 226);
                            }
                            .first{ 
                                font-size: 14px;
                            }
                            .his{ 
                                color: #8b8b8e;
                                font-size: 13px;
                            }
                        }
                        .nor{ 
                            color: #8b8b8e;
                            font-size: 14px;
                        }
                        .answerMiz{ 
                         
                            .text{ 
                                color: rgb(100 100 110);
                                font-size: 14px;
                                line-height: 24px;
                            }
                        }
                        .mizban{ 
                            color: rgb(180 180 190);
                        }
                      
                        
                    }
                    .allView{
                  
                        .section{
                            .line{ 
                                height: 4px;
                                border-radius: 10px;
                                width: 250px;
                                background-color: #666;
                            }
                        }
                        .text{ 
                            color: rgb(180 180 190);
                        }
                        .point{
                            .header{ 
                                .text{ 
                                    color: rgb(180 180 190);
                                }
                            }
                        }
                        
                    }
                 }
              
            }
         }
         .prof{ 
            &-container{ 
                .text { 
                    font-size: 14px ;
                    color: #8b8b8e;
                }
                .name{ 
                    .image{ 
                        border-radius: 50%;
                    }
                
                    .first{ 
                        font-size: 18px;
                    }
                }
                .did{ 
                    &:hover{ 
                        cursor: pointer;
                    }
                }
                .link{ 
                    text-decoration: none;
                    color: #48484e !important;
                }
            }
         }
    }
} 
 @keyframes slideUp {
                0% {
                  transform: translateY(100%);
                  opacity: 0;
                }
                100% {
                  transform: translateY(0);
                  opacity: 1;
                }
              }